<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="vo" type="com.web.vo.BoardVO"/>
		<typeAlias alias="param" type="com.web.vo.Param"/>
		<typeAlias alias="dynamicParam" type="com.web.vo.DynamicParam"/>
		<typeAlias alias="juminParam" type="com.web.vo.JuminParam"/>
	</typeAliases>
</configuration>